<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        table{
            background-color: #D3D3D3;
            color: #9cc5ef;
            font-family: 方正兰亭超细黑简体;
            font-size: 15px;
            margin: 300px 0 0 40%;
        }

    </style>
</head>


<body>
<div class="Logain">

<form method="post" action="gwjmm2">
    <table>
        <tr>

        </tr>
    <tr>
        <td>请输入用户名：</td> <td> <input name="username" type="text"> </td>
    </tr>
    <tr>
        <td>请输入密保问题:</td> <td>  <input name="passwordd" type="password" ></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="提交验证">
        </td>
    </tr>

    </table>
</form>


</div>
</body>
</html>