<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>购物车结算</title>
<link rel="stylesheet" href="\static\css\style1.css"/>

</head>
<body>
<div class="catbox">
<center><h1>{{ doname }}的购物车</h1></center>
<br><br><br>
  <table id="cartTable">
    <thead>
      <tr>
        <th><label>
            <input class="check-all check" type="checkbox"/>&nbsp;&nbsp;全选</label></th>
        <th>商品</th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    {% for i in list %}
      <tr>
        <td class="checkbox"><input class="check-one check check1" type="checkbox" id='{{ i.id }}' value="{{ i.id }}" /></td>
        <td class="goods"><img src="{{ i.id3 }}" alt=""/><span>{{ i.id1 }}</span></td>
        <td class="price">{{ i.id2 }}</td>
        <td class="count"><span class="reduce"></span>
          <input class="count-input" type="text" value="1"/>
          <span class="add">+</span></td>
        <td class="subtotal">{{ i.id2 }}</td>
        <td class="operation"><span class="delete">删除</span></td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  <div class="foot" id="foot">
    <label class="fl select-all"><input type="checkbox" class="check-all check"/>&nbsp;&nbsp;全选</label>
    <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
    <div class="fr closing" onclick="gx()">结 算</div>
    <input type="hidden" id="cartTotalPrice" />
    <div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
    <div class="fr selected" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
    <div class="selected-view">
      <div id="selectedViewList" class="clearfix">
        <div><img src="images/1.jpg"><span>取消选择</span></div>
      </div>
      <span class="arrow">◆<span>◆</span></span> </div>
  </div>
</div>
<input type="text" id="nameid" value="{{ doname }}" style="display:hidden!important;visibility:hidden;">
</body>
<script src="\static\js\demo.js"></script>
</html>